---
import Layout from '~/layouts/PageLayout.astro';

import { getPermalink } from '~/utils/permalinks';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'INCA — Decentralized Autonomous Cloud',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get INCA Nodes',
        href: 'https://threefold.io',
        target: '_blank',
        icon: 'tabler:brand-minecraft',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/inca_background.png', alt: 'INCA Image Here' }}
  >
    <Fragment slot="title">
      Welcome to <span class="text-accent dark:text-white highlight"> Project INCA<br></span> The Decentralized Autonomous Cloud
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Project INCA</span> is an open-source DePIN cloud that allows <br>anyone anywhere to become a cloud service provider.<br></span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">INCA, DePIN Cloud</span>
      <i>Earn <span class="font-semibold">INCA</span> rewards by providing <span class="font-semibold">IN</span>ternet <span class="font-semibold">CA</span>pacity to the world!</i>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="The perfect DePIN Partner"
    subtitle="We truly believe that the project INCA is 100% compatible with the DePIN space: we can work in parallel and under many if not all projects in the space."
    items={[
      {
        title: 'Zero-OS',
        description:
          'Innovative OS for decentralized efficiency and security. Lightweight, self-healing, adaptable and uses the Linux kernel.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Web2/Web3 + AI Compatible',
        description:
          'Compatible with Web2, Web3 and AI: everything can run on our stack.',
        icon: 'tabler:components',
      },
      {
        title: 'Scalable Without limit',
        description:
          'The grid is scalable to the planetary level: from the edge to massive datacenter scale.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Quantum Safe File Storage',
        description:
          'Quantum Safe File Storage revolutionizes data security. Data is stored with 10x less overhead and can never be lost.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Open-Source and Community-Driven',
        description:
          "The grid is 100% open-source and community-driven. Our code is available publicly and the community is an integral part of the ecosystem.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Mycelium Network',
        description:
          'The only overlay network in the world which is capable of considering locality - routing decisions are based on proximity between peers.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="In a nutsell"
    title="What it means to be a truly decentralized and autonomous cloud for everyone"
    items={[
      {
        title: 'Decentralized',
        description:
          'No matter who or where you are, you can participate in the ecosystem. Everyone can deliver and use cloud services. Everyone has 100% control over their data.',
      },
      {
        title: 'Autonomous',
        description:
          'The software is capable to run 100% without human involvement or intervention; cloud service providers don\'t need to be experts. Owning the cloud has never been so accessible.',
      },
      {
        title: 'Cloud',
        description:
          'Thanks to our innovative operating system, Zero-OS, anything Linux can run on the grid. This means that any service or workload can run on the grid.',
      },
    ]}
    image={{ src: '~/assets/images/cloudcomplex.png', alt: 'INCA Image Here' }},
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on a proven technology</h3>
      The ThreeFold Grid is a robust and production ready ecosystem. <br> Learn what makes this technology unique.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features3 Widget ************** -->

  <Features2
    title="Our many partnerships are what make the grid what it is: a community-driven, open-source and decentralized cloud for all."
    subtitle="We have many partners in different sectors of the industry.<br>Our ecosystem is always expanding and we're always ready for new collaborations!"
    tagline="Proud Partners of a Whole Ecosystem"
    items={[
      {
        title: 'Holochain',
        description: "Holochain is a more peer2peer alternative to the blockchain, giving developers a framework for creating decentralized applications (dApps). Holochain’s method avoids keeping a global consensus, using an agent system in which each agent keeping a private fork.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Earth Wallet',
        description:
          "A cutting-edge digital wallet solution designed to empower users with secure, decentralized control over their digital assets. With a focus on accessibility, security, and sustainability, Earth Wallet offers a seamless and user-friendly interface for managing various cryptocurrencies and digital tokens.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Digital Free Zone',
        description:
          'The OurWorld Digital FreeZone, established in Zanzibar, is a groundbreaking partnership between ThreeFold and the government of Tanzania. This initiative aims to create a free sovereign digital and economic area, fostering innovation, growth, and prosperity within the region.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Tanzania Sovereign Internet',
        description:
          "ThreeFold is proud to announce its partnership with the government of Tanzania to establish a sovereign internet, a groundbreaking initiative poised to revolutionize Tanzania's startup ecosystem fostering digital freedom.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Elestio',
        description:
          'Elestio is an innovative platform dedicated to providing cutting-edge decentralized applications (dApps) and services to users worldwide, with a focus on accessibility, security, and user empowerment.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Vverse',
        description: 'Vverse is an innovative platform that aims to create a virtual universe where users can explore, interact, and create in immersive virtual environments. It leverages cutting-edge technologies such as virtual reality (VR), augmented reality (AR), and blockchain.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Helium',
        description: 'Helium is a decentralized wireless network that enables low-power, long-range connectivity for Internet of Things (IoT) devices. By leveraging blockchain technology and a network of hotspots, Helium provides a cost-effective and scalable solution for IoT device connectivity.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Sikana',
        description:
          'Sikana, a platform dedicated to providing education for all, has delivered over 400 million lessons through free educational videos. This partnership will empower communities worldwide with knowledge and skills, irrespective of their financial or geographical limitations. ',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'ThreeFold',
        description: "The backbone and first phases of the INCA project, ThreeFold’s self-healing autonomous system empowers anyone to become a cloud service provider allowing people and organizations to buy, sell and use cloud resources autonomously and securely.",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>


  <!-- Steps Widget ****************** -->

  <Steps
    title="Get an INCA <br>node up and running<br>in no time to earn rewards..."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Order a node</span>',
        description:
          "We propose different INCA nodes to suit your specific situation. From basic generic cloud services to advanced AI workloads, it's all possible on the grid.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Connect the node</em>',
        description:
          "Setting an INCA node is a no brainer: plug the node to an eletric outlet and connect it to the Internet via a cable. That\'s it! You\'re hosting the grid!",
        icon: 'tabler:package',
      },
      {
        title: 'Step 3: <span class="font-medium">Host cloud services</span>',
        description:
          'The node is self-healing and autonomous. It\'s cuising speed from here on out: users can deploy on your node and you receive INCA rewards.',
        icon: 'tabler:paint',
      },
      {
        title: 'Earn INCA rewards!',
        icon: 'tabler:check',
      },
    ]}
    image={{ src: '~/assets/images/currency_of_future.png', alt: 'INCA Image Here' }},
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="A glimpse of what is possible on the grid..."
    subtitle="The grid offers a wide range of ready-to-use applications <br>and developers can build any type of app! <br>Deployment configurations are endless. Here is a small sample of the possibilities!"
    tagline="Applications and Deployments"
    items={[
      {
        title: 'Wordpress',
        description: "Wordpress is the most popular CMS on the market, powering 42.4% of all websites – nearly half of the internet.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Nextcloud',
        description:
          "Nextcloud is a suite of client-server software for creating and using file hosting services. Nextcloud provides functionality similar to Dropbox, Office 365 or Google Drive.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Full and Micro VMs',
        description:
          'The grid offers full flexibility when it comes to deploying virtual machine. Fulll and micro virtual machines are at your commands!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Kubernetes',
        description:
          "Kubernetes is the standard container orchestration tool. On the grid, Kubernetes clusters can be deployed out of the box.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Caprover',
        description:
          'CapRover is an extremely easy to use app/database deployment & web server manager for apps such as NodeJS, Python, PHP, ASP.NET, Ruby, MySQL and more.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'AI and Machine Learning',
        description: 'The grid comes built int with GPU functionalities. Access the latest GPUs on the grid and deploy AI workloads.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Casperlabs',
        description: 'Casper Network is a blockchain protocol built from the ground up to remain true to core Web3 principles and adapt to the needs of our evolving world.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Peertube',
        description:
          'Peertube aspires to be a decentralized and free/libre alternative to video broadcasting services. ',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Subsquid',
        description: "Subsquid indexer is a piece of software that reads all the blocks from a Substrate based blockchain, decodes and stores them for processing in a later stage.",
        icon: 'flat-color-icons:database',
      },
      {
        title: 'Node Pilot',
        description: 'Deploy, manage, and monetize crypto nodes with a few clicks. Seamless Docker integration brings enterprise-level security and scalability.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Taiga',
        description:
          'Taiga is a project management application that can handle both simple and complex projects for startups, software developers, and other target teams.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Discourse',
        description: "Discourse is the 100% open source discussion platform built for the next decade of the Internet. Use it as a mailing list, discussion forum, long-form chat room, and more!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->


  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="This cloud is meant for everyone and you don't need to be a tech-savy to host INCA nodes. Let's go through some basic questions and answers to demystify it all."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why is the INCA project necessary?',
        description:
          "There is a cyber pandemic going on and there is a war for your attention! The cloud and Internet can be what it was always meant to be: for the people and peer-to-peer. The INCA grid offers the possibility for anyone to own their share of the Internet.",
      },
      {
        title: 'What do I need to start?',
        description:
          'To join the grid and expand the cloud, all you need is to get an INCA node to become your own cloud service provider. There are different nodes for all types of purpose and budget.',
      },
      {
        title: 'How to install an INCA node',
        description:
          "Providing cloud services to the world has never been easier. Once you've received your INCA node, connect it to the Internet and a power outlet, and let the autonomous and self-healing operating system take care of the rest. Passive rewards you say?",
      },
      {
        title: "How can I contribute to the grid?",
        description:
          "Our technology is ready and has been tested for years in production mode. Now we want to expand and build as many nodes as possible to provide a tangible and concrete alternative to the current cloud giant monopolies.",
      },
      {
        title: 'Is there a limit to the grid?',
        description:
          "There is no limit to how the grid can grow: anyone can deploy a node and connect it to the Internet. Matter of fact, we're in a grid expansion phase and the more nodes we deploy the mode resilient and decentralized we become. Feel like hosting your own cloud?",
      },
      {
        title: 'Can I get support with the node installation?',
        description:
          "Of course we're help to help! Our team has been providing continuous customer support for many years now. Not only this, but our community loves to solve a problem to help a fellow cloud hoster!",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Capacity', amount: '32.74 PB' },
      { title: 'Nodes', amount: '2569' },
      { title: 'Countries', amount: '61' },
      { title: 'Cores', amount: '63,968' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get INCA Nodes',
        href: 'https://threefold.io',
        target: '_blank',
        icon: 'tabler:brand-minecraft',
      },
    ]}
  >
    <Fragment slot="title">
      Build and Grow the INCA DePIN Cloud
    </Fragment>

    <Fragment slot="subtitle">
      The grid grows stronger as we build and deploy together. Join the fun!
    </Fragment>
  </CallToAction>
</Layout>